<div class="divition-footer">
  <img src="./../../../assets/img/footer.jpg" alt="" />
</div>
<div class="footer">
  <div class="container">
    <div class="left">
      <app-contact-form></app-contact-form>
      <!-- <div class="phones">
      <mat-icon> call </mat-icon>
      <div class="texts">
        <p>English <span>(305) 8138672</span></p>
        <p>Spanish <span>(305) 8138672</span></p>
      </div>
    </div>
    <div class="payment">
      <mat-icon> monetization_on </mat-icon>
      <div class="texts">
        <p>Cash - Zelle - Venmo</p>
        <p>Credit Cards</p>
      </div>
    </div>
    <div class="location">
      <mat-icon> location_on </mat-icon>
      <div class="texts">
        <p>Miami-Dade County - Florida</p>
      </div>
    </div> -->
    </div>

    <div class="right-container">
      <div class="right">
        <ul>
          <li class="row">
            <div class="icon">
              <img src="./../../../assets/img/icons/Vector.svg" alt="" />
            </div>
            <!-- Icono de teléfono -->
            <p>(305) 8138672</p>
          </li>
          <li class="row">
            <div class="icon">
              <img src="./../../../assets/img/icons/location.svg" alt="" />
            </div>
            <!-- Icono de ubicación -->
            <p>Miami-Dade, Broward and Palm Beach Counties, Florida</p>
          </li>
          <li class="row">
            <div (click)="redirectToInstagram()" class="icon instagram">
              <img src="./../../../assets/img/icons/Instagram.svg" alt="" />
            </div>
            <!-- Icono de Instagram -->
            <p>AmbergateUSA</p>
          </li>
          <li class="row">
            <div (click)="openFacebookProfile()" class="icon facebook">
              <img src="./../../../assets/img/icons/facebook_3.svg" alt="" />
            </div>
            <!-- Icono de Facebook -->
            <p>AmbergateUSA</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
