@use "./../../../assets/scss/variables.scss" as v;
@use "./../../../assets/scss/mixins.scss" as mixins;

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999 !important;
  transition: all 0.5s ease-in-out, width 0.5s ease-in-out;

  button {
    z-index: 9999 !important;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 53px);
  margin-right: 2rem;

  img {
    width: 40%;
    height: 40px;
  }
}
