<div class="toolbar">
  <div (click)="scrollToTop()" class="logo-container">
    <img src="./../../../assets/img/logo-transparent-svg.svg" alt="" />
  </div>
</div>
<!-- <button (click)="mat()" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="icon-menu">menu</mat-icon>
  </button>

  <div (click)="scrollToTop()" class="logo-container">
    <img src="./../../../../assets/img/logos/logo-transparent.svg" alt="" />
  </div>
</mat-toolbar>
<mat-menu class="mat-menu" #menu="matMenu">
  <button (click)="redirectToInstagram()" class="btn-menu" mat-menu-item>
    <img
      class="item"
      src="./../../../../assets/img/icons/instagram.svg"
      alt="instagram"
    />
    <span> Instagram</span>
  </button>
  <button (click)="openWhatsApp()" class="btn-menu" mat-menu-item>
    <img
      class="item"
      src="./../../../../assets/img/icons/whatssapp.svg"
      alt="whatssapp"
    />
    <span>Whatssapp</span>
  </button>

  <button (click)="openFacebookProfile()" class="btn-menu" mat-menu-item>
    <img
      class="item"
      src="./../../../../assets/img/icons/facebook.svg"
      alt="whatssapp"
    />
    <span>Facebook</span>
  </button>

  <button (click)="openEmail()" class="btn-menu" mat-menu-item>
    <img
      class="item"
      src="./../../../../assets/img/icons/email.svg"
      alt="email"
    />
    <span> Mail</span>
  </button> -->
<!-- </mat-menu> -->
