<div class="form-container">
  <div class="qr-container">
    <img
      src="./../../../../assets/img/AMBERGATE_USA_0unAnpD3aF0J_qrcode (1).png"
      alt="AMBERGATE"
      srcset=""
    />
  </div>
  <!-- <form
    class="form-container__form"
    (ngSubmit)="onSubmit()"
    #contactForm="ngForm"
  >
    <div class="form-info">
      <div class="form-container__field">
        <input
          class="form-container__input"
          type="text"
          name="name"
          ngModel
          placeholder="NAME"
          required
        />
        <input
          class="form-container__input"
          type="email"
          name="email"
          ngModel
          placeholder="MAIL"
          required
        />
        <input
          class="form-container__input"
          type="text"
          name="phone"
          ngModel
          placeholder="PHONE"
        />
      </div>
      <div class="form-container__field">
        <textarea
          class="form-container__textarea"
          name="message"
          ngModel
          placeholder="MENSAJEM"
          required
        ></textarea>
      </div>
    </div>

    <button matRipple class="form-container__button" type="submit">SEND</button>
  </form> -->
</div>
