<!-- <app-header></app-header> -->

<div class="container">
  <div class="header">
    <div class="title">
      <img src="./assets/img/logo-transparent-svg.svg" alt="" />
    </div>
  </div>

  <div class="ola">
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <!--Waves end-->
</div>
<!--Header ends-->

<!--Content starts-->

<app-services3d></app-services3d>

<div class="services">
  <div class="title">
    <h1>SERVICES</h1>
  </div>

  <div class="service service-01">
    <div class="card">
      <div class="card__carrousel">
        <div class="carrousel">
          <swiper-container
            id="swiper-container"
            pagination="false"
            effect="fade"
            grab-cursor="true"
            centered-slides="true"
            slides-per-view="auto"
            autoplay-delay="4000"
            autoplay-disable-on-interaction="false"
            space-between="10"
            pagination="false"
          >
            @for (img of interior_selective_demolitions; track $index) {
            <swiper-slide>
              <img class="swiper-slide__img" [src]="img.url" alt="" srcset="" />
            </swiper-slide>
            }
          </swiper-container>
        </div>
      </div>
      <div class="card__info">
        <div class="card__title">
          <h2>INTERIOR SELECTIVE DEMOLITIONS</h2>
        </div>
        <div class="divition">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="card__text">
          <p>
            Our expert selective interior demolition teams excel at preparing
            your space for its next big transformation.
          </p>

          <p>
            Removing parts of an existing structure demands exceptional
            craftsmanship and the right tools.
          </p>
          <p>
            Few companies in Florida match the experience of Ambergate USA in
            partial deconstruction and selective interior demolition. Whether
            you need preparation for building additions, renovations, or
            repurposing, we have the expertise to handle projects of any size.
            Let us assist you with your demolition needs!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="service service-02">
    <div class="card">
      <div class="card__carrousel">
        <div class="carrousel">
          <swiper-container
            pagination="false"
            effect="fade"
            grab-cursor="true"
            centered-slides="true"
            slides-per-view="auto"
            autoplay-delay="100000"
            autoplay-disable-on-interaction="false"
            space-between="10"
            pagination="false"
          >
            @for (img of HIGH_PRESSURE_CLEANING; track $index) {
            <swiper-slide>
              <img class="swiper-slide__img" [src]="img.url" alt="" srcset="" />
            </swiper-slide>
            }
          </swiper-container>
        </div>
      </div>
      <div class="card__info">
        <div class="card__title">
          <h2>HIGH PRESSURE CLEANING</h2>
        </div>
        <div class="divition">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="card__text">
          <p>
            Ambergate USA is a premier provider of high-pressure cleaning
            services for both residential and commercial properties.
          </p>

          <p>
            With our state-of-the-art equipment and skilled technicians, we
            ensure every surface shines like new, delivering unmatched
            cleanliness and a pristine environment.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="service service-03">
    <div class="card">
      <div class="card__carrousel">
        <div class="carrousel">
          <swiper-container
            pagination="false"
            effect="fade"
            grab-cursor="true"
            centered-slides="true"
            slides-per-view="auto"
            autoplay-delay="4000"
            autoplay-disable-on-interaction="false"
            space-between="10"
            pagination="false"
          >
            @for (img of FLOORING_DEMOLITION_REMOVAL; track $index) {
            <swiper-slide>
              <img class="swiper-slide__img" [src]="img.url" alt="" srcset="" />
            </swiper-slide>
            }
          </swiper-container>
        </div>
      </div>
      <div class="card__info">
        <div class="card__title">
          <h2>FLOORING DEMOLITION AND REMOVAL</h2>
        </div>
        <div class="divition">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="card__text">
          <p>
            Ambergate USA is a leading professional flooring removal company for
            both commercial and residential projects.
          </p>

          <p>
            Our advanced floor removal equipment cuts floor covering and
            preparation time by 90%.
          </p>
          <p>
            We also ensure effective dust containment in occupied commercial
            buildings and residential spaces. Once the job is done, we handle
            debris removal and site cleanup, leaving your space clean.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="service service-02">
    <div class="card">
      <div class="card__carrousel">
        <div class="carrousel">
          <swiper-container
            pagination="false"
            effect="fade"
            grab-cursor="true"
            centered-slides="true"
            slides-per-view="auto"
            autoplay-delay="4000"
            autoplay-disable-on-interaction="false"
            space-between="10"
            pagination="false"
          >
            @for (img of JUNK_REMOVAL; track $index) {
            <swiper-slide>
              <img class="swiper-slide__img" [src]="img.url" alt="" srcset="" />
            </swiper-slide>
            }
          </swiper-container>
        </div>
      </div>
      <div class="card__info">
        <div class="card__title">
          <h2>JUNK REMOVAL</h2>
        </div>
        <div class="divition">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="card__text">
          <p>Construction Waste Removal</p>

          <p>Yard Waste Removal</p>

          <p>Furniture & Appliances Removal/Disposal</p>

          <p>Foreclosure Clean Outs</p>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<app-whats-app></app-whats-app>

<!-- <div class="footer"></div> -->
